#shell {
	width: 1180px;
	overflow: hidden;
	margin: auto;
	padding: 10px;
	clear: both;
	background: #fff;
}

#shell .mailbox {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	border-bottom: 2px solid #e8e8e8;
	position: relative;
	color: #646464;
}

#shell .mailbox p {
	width: 97px;
	height: 2px;
	background: #add1f0;
	position: absolute;
	bottom: -2px;
	left: 544px;
}

form {
	padding-left: 12px;
	padding-top: 25px;
}

.f1 {
	margin-bottom: 15px;
}

label {
	font-size: 14px;
	color: #646464;
	padding-left: 13px;
	margin-right: 15px;
}

label.m {
	padding-left: 0;
}

input[type="text"] {
	width: 286px;
	height: 33px;
}

input[type="checkbox"] {
	margin-bottom: 20px;
}

label.name {
	font-size: 14px;
	padding-left: 5px;
	margin-right: 26px;
	margin-bottom: 20px;
	color: #000;
}

span {
	color: red;
	font-size: 14px;
}

.names {
	width: 335px;
	float: left;
}

img {
	border: 0;
	vertical-align: middle;
}